body {
    background-color: tan;
}

#bar {
    text-align: center;
    color: white;
    background-color: #7c7c7c;
    padding: 10px;
    width: 98%;
    font-family: cursive;
    clear: both;
    margin: 5px;
}

#main-nav {
    background-color: blue;
    text-align: left;
}

#main-nav li {
    display: inline-block;
    position: relative;
}

#main-nav li:hover{
    background-color: #7c7c7c;
    color: white;
}


#main-nav ul li {
    list-style-type: nothing;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: white;
}

.content-box {
    background-color: turquoise;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    width: 70%;
    float: left;
    margin: 0%;
}


#rules {
    background-color: bisque;
    float: right;
    width: 25%;
    margin-right: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 15px;
}

#rules:hover {
    background-color: blueviolet;
}